Source: voms-api-java
Priority: extra
Maintainer: Valerio Venturi <valerio.venturi@cnaf.infn.it>
Build-Depends: maven2, default-jdk, debhelper (>= 7)
Standards-Version: 3.9.1
Section: java
Homepage: https://github.com/italiangrid/voms-api-java
Vcs-Git: git://github.com/italiangrid/voms-api-java.git
Vcs-Browser: https://github.com/italiangrid/voms-api-java

Package: voms-api-java
Architecture: all
Depends: default-jre-headless, libbcmail-java, canl-java
Description: The Virtual Organisation Membership Service Java APIs
 The Virtual Organization Membership Service (VOMS) is an attribute authority
 which serves as central repository for VO user authorization information,
 providing support for sorting users into group hierarchies, keeping track of
 their roles and other attributes in order to issue trusted attribute
 certificates and SAML assertions used in the Grid environment for
 authorization purposes.
