Source: voms-api-java
Priority: extra
Maintainer: Valerio Venturi <valerio.venturi@cnaf.infn.it>
Build-Depends: maven2, default-jdk, debhelper (>= 7)
Standards-Version: 3.9.1
Section: java
Homepage: https://github.com/italiangrid/voms-api-java
Vcs-Git: git://github.com/italiangrid/voms-api-java.git
Vcs-Browser: https://github.com/italiangrid/voms-api-java

Package: voms-api-java
Architecture: all
Depends: default-jre-headless, libbcmail-java, canl-java
Description: The Virtual Organisation Membership Service Java APIs
